/* Add font for website  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Webpage basic's css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

